<div class="container">
    <h1>RxJS</h1>
    <p>{{ofExData}}</p>
    <!-- <p>RxJS is used to a manage data as a flows.a
        Rxjs is a library for composing asyncronus observable sequences.
    </p> -->
    <!-- <p>
        RxJS min 3 things
        1)observable
        2)satelite Data Types
            -observers
            -scheduler
            -subject
        3) Operators
            -Array Method (like map, filter, reduce, etc..)
        
        1) observable
            -It's a dat stream 
                (like we upload daily video in youtube that is a one time of dat stream that can update data)
            
            -subscriber
                (we can subscribe to the channel to update/change the subscriber)

        Promise vs observable 
        =>promise
            -promise we can use Async only.
            -That have return single value (resolve,reject)
                resolve: if condition is success so at that time it going to the resolve block 
                reject: if condition is not success or wrong that time that going to the reject block 
        =>observable
            -observable we can use async or sync both.
            -thay have return stream of values.abs

        => Observable stream 
            -user input (when we click button click event)
            -Http request
            -Array
            -object
        
        => Observable Handle 
            we can use in .subscribr() method 

            inside subscribe method they have 3 main part

            .data()
            .error()
            complete 

            Syntax of subscibe:-  .subscribe(
                                        (data) => { console.log(data)}
                                        (error) => { console.log(error)}
                                        () => { console.log('complete')}
                                    )
        
            
            show example in a app.component.ts file
    </p> -->
    
</div>